.sidebarOption {
  color: gray;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption_icon {
  padding-left: 10px;
  padding-right: 10px;
}
